
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700|Lobster');

.nav {
  background-color: white;
  height: 50px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button.account {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: #222;
  transition: .5s;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

button.account:hover {
  color: #444;
}

button.navbar {
  font-family: 'Josefin Sans', sans-serif;
  background-color: white;
  font-size: 30px;
  font-weight: 300;
  color: #222;
  padding-top: 5px;
  height: 50px;
  transition: .5s;
  cursor: pointer;
  text-decoration: none;
  border:none;
}
button.navbar:hover {
  background-color: #222;
  color: white;
}

button.login {
  width: 100%;
}

a.footer{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #222;
  width: 150px;
  height: 100%;
  transition: .5s;
  padding: 10px;
  text-decoration: none;
}

a.footer:hover {
  color: #444;
}

ul{
    font-family: 'Josefin Sans', sans-serif;
    background-color: white;
    font-size: 40px;
    list-style-type: none;
    overflow: hidden;
    font-size: 20px;
    padding: 0;
    top: 0;
    left: 0;
    display: table;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (min-width: 1024px) {
  .submit:hover {
    background-color: white;
    color: #222;
  }
  .submit {
    width: 500px;
  }
  select {
    width: 500px;
  }
  .bar4 {
    width: 50%;
  }
}
@media screen and (max-width: 1024px) {
  .submit:hover {
    background-color: white;
    color: #222;
  }
  .bar4 {
    width: 100%;
  }
}
form.register {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  color: white;
  padding: 50px;
}

input{
  background-color: white;
  border: none;
  font-size: 20px;
  height: 50px;
  width: 250px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

select {
  border: none;
  height: 50px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}

.submit {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 0px;
  border-width: 1px;
  transition: .5s;
  cursor: pointer;
  text-align: center;
}

.personal{
    font-family: 'Josefin Sans', sans-serif;
    background-color: white;
    font-size: 40px;
    list-style-type: none;
    overflow: hidden;
    font-size: 20px;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: table;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo {
  text-align: center;
  width:47px;
  height: auto;
}

li.top {
    float: left;
}
li.account {
    float: right;
}

li a {
    display: block;
    color: #222;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.5s;
}

li a:hover:not(.active) {
    background-color: #222;
    color: white;
}

.bar {
  background-color: transparent;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0 auto;
  z-index: -2;
}

.bar2 {
  background-color: white;
  width: 100%;
  left: 0;
  margin: 0 auto;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bar3 {
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  left: 0;
  margin: 0 auto;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bar4 {
  background-color: transparent;
  top: 0;
  left: 0;
  margin: 0 auto;
  z-index: -2;
}

.header {
  color: #222;
  font-family: 'Josefin Sans';
  font-size: 30px;
  font-weight: 600;
}

img {
  width: 100px;
}

table.features {
  width: 100%;
}

td.features {
  width: 25%;
  text-align: center;
}

table.menu {
  width: 80%;
  border-collapse: collapse;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

td.menu {
  padding: 0;
  width: 20%;
  transition: 0.5s;
  padding: 10px;
}

td.menu:nth-child(even) {
  background-color: white;
}

td.menu:nth-child(odd) {
  background-color: #efefef;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.paragraph {
  color: #222;
  font-family: 'Josefin Sans';
  font-size: 20px;
  font-weight: 300;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(polina.jpg) no-repeat;
  background-size: cover;

}

p {
  text-align: center;
}
a {
  text-align: center;
}

.title {
  font-size: 75px;
  font-family: 'Lobster', sans-serif;
  font-weight: 700;
  color: white;
  line-height: 5px;
}

.title2 {
  font-size: 75px;
  font-family: 'Lobster', sans-serif;
  font-weight: 700;
  color: #222;
  line-height: 5px;
}

.subtitle {
  font-size: 25px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  color: white;
}

input.login[type=text], input.login[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
